<h1>Order Summary and Status: </h1>

<h3><%= number_to_currency @order.amount, :unit => :€ %></h3>

<div class="<%= @order.state == 'pending' ? "pending-state" : "paid-state" %>">
    <%= @order.state.capitalize %>
</div>