.cart-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 35px;
}

.edit_order_item {
  height: 100%;
}

.ml-2 {
  margin-left: 0.5rem !important;
}

.subtotal-margin {
  margin-right: 6.5rem;
  @media (max-width: 991px) {
    font-size: 12px;
    margin-right: 5.5rem;
  }
}

.total-margin {
  text-align: end;
  margin-right: 8rem;
}

.min-height {
  min-height: 55vh;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cart-item {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pending-state {
  background-color: #ffe000;
  width: 8rem;
  height: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  box-shadow: 0px 3px 7px 5px #f5f2f2;
}

.yellow {
  background-color: #ffe000;
}

.paid-state {
  background: linear-gradient(45deg, #5be722, #0bd10e8c);
  width: 8rem;
  height: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  box-shadow: 0px 3px 7px 5px #f5f2f2;
}

.checkout-items {
  min-height: 55vh;
  max-width: 80%;
  margin: auto;
  overflow: scroll;
}

.delete {
  color: #ef2525fc;
}

.btn-shrink {
  width: 75px !important;
  @media (max-width: 991px) {
    width: 62px !important;
    font-size: 10px;
  }
}

.smaller-font {
  @media (max-width: 991px) {
    font-size: 12px;
  }
}

.mobile-collapse {
  @media (max-width: 991px) {
    display: none;
  }
}

.edit_order_item {
  display: flex;
  justify-content: end;
}

select {
  border: none;
  border-bottom: 1px solid #625a5a21;
}
