.navbar-design {
  justify-content: space-between;
  background: white;
}

.navbar-design .navbar-collapse {
  flex-grow: 0;
}

.navbar-design .navbar-brand img {
  width: 45px;
}
.nav-link {
}

.avatar {
  width: 45px;
}

.login-btn {
  background: linear-gradient(153deg, #fbd129, #f7c90f);
  width: 7rem;
  text-align: center;
  border-radius: 28px;
}

.m-y-4 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
