.navbar-design {
  justify-content: space-between;
  background: white;
}

.navbar-design .navbar-collapse {
  flex-grow: 0;
}

.navbar-design .navbar-brand img {
  width: 45px;
}
.nav-link {
  color: white;
}

.avatar {
  width: 45px;
}
