.add_to_cart {
  background-color: #033eff;
  margin-left: 10px;
  border-radius: 5px;
  border: none;
  width: 100px;
  height: 100%;
  color: white;
  box-shadow: 1px 2px 8px #e9e9e9;
}

tr {
  line-height: 35px;
}

.shop-header {
  display: flex;
  justify-content: space-between;
}
