<div style="min-height: 100vh;">
  <p id="notice"><%= notice %></p>
  <div class="shop-header">

    <div class="space colapse">      
    </div>
    <div class="text-center space-grow">
    </div>  

    <div class="space colapse"></div>

  </div>

    <div data-search-target="output">

<%= render 'products/index' %>
